<style>
.container {
  max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
}
#nav a {
  font-weight: bold;
  color: inherit;
/* set font for header */
  font-family: 'Maven Pro', sans-serif;
}
#nav a.nav-link-active {
  background-color: #212529;
  color: #fff;
}
#nav-border {
/*  border-bottom: 1px solid #212529; */
/* make header yellow and add side borders */
/*  border-left: 1px solid #212529;
  border-right: 1px solid #212529; */
  background-color: #ffc107;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
/* set font for body text and justify */
  font-family: 'Maven Pro', sans-serif;
  text-align: justify;
}
h1,h2,h3,h4,h5 {
  text-align: left;
}
#home-jumbotron {
  background-color: inherit;
}
#footer .container {
  padding: 1em 0;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit; 
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
img,
iframe,
embed,
video,
audio {
  max-width: 100%;
  border-radius: 12px;
}
.card-img,
.card-img-top,
.card-img-bottom {
  width: initial;
}

 /* Blockquote stylings */

 blockquote {
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
  }

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
      
blockquote cite:before {
  content: "\2014 \2009";
  }

</style>